$cor-primaria: #333;
$cor-secundaria: #fff;
$cor-fundo: #f4f4f4;
$cor-destaque: #e2e2e2;
$cor-texto: #333;
$cor-texto-claro: #555;
$cor-borda: #ccc;

$fonte-principal: Arial, sans-serif;

$espacamento: 2rem;
$raio-borda: 8px;
$sombra-card: 0 2px 5px rgba(0, 0, 0, 0.1);
$sombra-depoimento: 0 2px 5px rgba(0,0,0,0.07);